[Unit]
Description=CVMFS publisher queue consumer

[Service]
WorkingDirectory=/home/ubuntu/consumers/
ExecStart=usr/bin/python3 -u /home/ubuntu/consumers/publisher_consumer.py
StandardOutput=append:/var/log/publisher/publisher-consumer.service.log
StandardError=append:/var/log/publisher/publisher-consumer.service.log
Restart=always
RestartSec=3
SyslogIdentifier=publisher_consumer

[Install]
WantedBy=multi-user.target